@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@500&family=Nunito+Sans:opsz,wght@6..12,600&display=swap');
@layer base {
    html {
        font-family: 'Figtree', sans-serif;
        background-color: rgb(23 23 23);
        background-size: cover;
    }
}

:root{
    --spotify-green: #1DB954;
}