@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@500&family=Nunito+Sans:opsz,wght@6..12,600&display=swap');
@layer base {
    :root{
        --spotify-green: #1DB954;
    }
    
    html {
        font-family: 'Figtree', sans-serif;
        background-color: rgb(23 23 23);
        background-size: cover;

    } 

    .greyRing{
        fill: black;
        stroke: #3D3E3F;
        stroke-width: 15px;
    }
      
    .greenRing {
        fill: none;
        stroke: var(--spotify-green);
        stroke-width: 15px;
        stroke-dasharray: 1000;
        stroke-dashoffset: 400;
        
      }
      .triggerRing{
        animation: rotate linear;
      }
      
      @keyframes rotate {
        from{
            stroke-dashoffset: 1000;
        }
        to {
            stroke-dashoffset: 400;
        }
      }

      .test{
        /* max-width: 700px; */
        min-width: 50%;
      }
}
